
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #70fa00;
  border: none;
  border-radius: 38px;
}
::-webkit-scrollbar-thumb:hover {
  background: #80ff00;
}
::-webkit-scrollbar-thumb:active {
  background: #99ff00;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  border-radius: 100px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
