@font-face {
    font-family: Minecraft;
    src: url("../../fonts/Minecraft.ttf");
}

.about__section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3%;
    color: white;
    position: relative;
}

.about__subText{
    position: absolute;
    top: 11%;
    right: 8%;
    font-size: 15vw;
    font-family: Minecraft;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: #5a5a5aaa;
    z-index: 1;
    user-select: none;
}

.about__left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    z-index: 2;
}

.about__heading{
    font-size: 4.5rem;
    color: white;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    position: relative;
    margin: 2rem 0;
    user-select: none;
}

.about__heading::before{
    content: "<h2>";
    color: #7c7c7c;
    position: absolute;
    top:-0.6rem;
    font-family: HandNote , monospace;
    left: 0;
    font-size: 1.2rem;
}

.about__heading::after{
    content: "</h2>";
    color: #7c7c7c;
    position: absolute;
    bottom:-0.6rem;
    font-family: HandNote , monospace;
    left: 0;
    font-size: 1.2rem;
}

.about__heading span{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.9) ,
    2px 1px 1px rgba(255, 255, 255, 0.9) ,
    3px 1px 1px rgba(121, 121, 121, 0.9) ,
    4px 1px 1px rgba(255, 255, 255, 0.9) ,
    -4px 1px 1px rgba(159, 159, 159, 0.9) ,
    -6px 2px 1px rgba(255, 255, 255, 0.9) ,
    -7px 3px 1px rgba(90, 90, 90, 0.9) ,
    -14px 1px 14px rgba(0,0,0,0.4)  ,
    -16px 1px 8px rgba(0,0,0,0.4)  ,
    -18px 1px 28px rgba(0,0,0,0.4) ; 
    transition: transform 0.8s;
    animation: animateLetters 2s infinite;
   
}

.about__heading span:nth-child(2){
    animation-delay: 1s;
}
.about__heading span:nth-child(3){
    animation-delay: 2s;
}
.about__heading span:nth-child(4){
    animation-delay: 3s;
}
.about__heading span:nth-child(5){
    animation-delay: 4s;
}
.about__heading span:nth-child(6){
    animation-delay: 5s;
}
.about__heading span:nth-child(7){
    animation-delay: 6s;
}
.about__heading span:nth-child(8){
    animation-delay: 7s;
}
.about__heading span:nth-child(9){
    animation-delay: 8s;
}
.about__heading span:nth-child(10){
    animation-delay: 9s;
}
.about__heading span:nth-child(11){
    animation-delay: 10s;
}
.about__heading span:nth-child(12){
    animation-delay: 11s;
}
.about__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
}

.about__text::before{
    content: "<p>";
    color: #7c7c7c;
    position: absolute;
    top:-2rem;
    font-family: HandNote , monospace;
    left: 0;
    font-size: 1.2rem;
}

.about__text::after{
    content: "</p>";
    color: #7c7c7c;
    position: absolute;
    bottom:-2rem;
    font-family: HandNote , monospace;
    left: 0;
    font-size: 1.2rem;
}

.about__right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4dfd21;
}

.tagcloud{
    font-weight: bold;
    font-size: 1.3rem;
    user-select: none;
}

.tagcloud--item{
    transition: .3s color;
    text-shadow: 0 0 9px rgb(60, 255, 0);
}

.tagcloud--item:hover{
    color: #187800;
}

@keyframes animateLetters {
    0%{
        text-shadow: 1px 1px 1px rgba(0,0,0,0.9) ,
        2px 1px 1px rgba(255, 255, 255, 0.9) ,
        3px 1px 1px rgba(121, 121, 121, 0.9) ,
        4px 1px 1px rgba(255, 255, 255, 0.9) ,
        -4px 1px 1px rgba(159, 159, 159, 0.9) ,
        -6px 2px 1px rgba(255, 255, 255, 0.9) ,
        -7px 3px 1px rgba(90, 90, 90, 0.9) ,
        -14px 1px 14px rgba(0,0,0,0.4)  ,
        -16px 1px 8px rgba(0,0,0,0.4)  ,
        -18px 1px 28px rgba(0,0,0,0.4) ; 
    }
    50%{
        text-shadow: 0 0 8px #4dfd21;
    }
    100%{
        text-shadow: 1px 1px 1px rgba(0,0,0,0.9) ,
    2px 1px 1px rgba(255, 255, 255, 0.9) ,
    3px 1px 1px rgba(121, 121, 121, 0.9) ,
    4px 1px 1px rgba(255, 255, 255, 0.9) ,
    -4px 1px 1px rgba(159, 159, 159, 0.9) ,
    -6px 2px 1px rgba(255, 255, 255, 0.9) ,
    -7px 3px 1px rgba(90, 90, 90, 0.9) ,
    -14px 1px 14px rgba(0,0,0,0.4)  ,
    -16px 1px 8px rgba(0,0,0,0.4)  ,
    -18px 1px 28px rgba(0,0,0,0.4) ; 
    }
}

@media only screen and (max-width:1426px) {
    .about__heading{
        font-size: 3.5rem;
    }
    .about__text{
        font-size: 1rem;
    }

}

@media only screen and (max-width:1200px){
    .about__subText{
        display: none;
    }
    .about__heading{
        align-self: flex-start;}
    .about__section{
        flex-direction: column;
    }
    .about__left{
        width: 100%;
        align-items: center;
    }
    .about__right{
        width: 100%;
    }
}

@media only screen and (max-width:600px){
    .about__section{
        margin-top:2rem ;
    }
    .about__heading{
        font-size: 2rem;
        padding: 1rem 0;
        margin-top: 1rem;
    }
    .about__heading .S{
        font-size: 2.4rem;
    }
    .skills{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.6);
    }
}

@media only screen and (max-width:420px){
    .about__heading{
        align-self: flex-start;
        font-size: 1.5rem;
    
        margin-top: 1rem;
    }

    .about__text p{
        line-height: 1.5;
    }

    .about__heading .S{
        font-size: 1.8rem;
    }
}